<div class="box">
    <div class="shadow-1 p-3 border-round boxdiv" >
        <div class="flex justify-content-between mb-3 icon">
            <div>
                <span class="block text-500 font-medium mb-3">Développeur web</span>
                <div class="text-900 font-medium text-xl">{{this.dev}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                <i class="pi pi-code text-blue-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">2 nouveau(x) </span>
        <span class="text-500">Récemment</span>
        
    </div>
    <div class="shadow-1 p-3 border-round boxdiv" >
        <div class="flex justify-content-between mb-3 icon">
            <div>
                <span class="block text-500 font-medium mb-3">Référent digital</span>
                <div class="text-900 font-medium text-xl">{{this.ref}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                <i class="pi pi-chart-bar text-orange-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">2 nouveau(x) </span>
        <span class="text-500">Récemment</span>
        
    </div>
    <div class="shadow-1 p-3 border-round boxdiv" >
        <div class="flex justify-content-between mb-3 icon">
            <div>
                <span class="block text-500 font-medium mb-3">Total</span>
                <div class="text-900 font-medium text-xl">{{this.data.length}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-pink-100 border-round" style="width:2.5rem;height:2.5rem">
                <i class="pi pi-users text-pink-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">6 nouveau(x) </span>
        <span class="text-500">Récemment</span>
        
    </div>

<!-- <div class="">
    <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Revenue</span>
                <div class="text-900 font-medium text-xl">$2.100</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                <i class="pi pi-map-marker text-orange-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">%52+ </span>
        <span class="text-500">since last week</span>
    </div>
</div> -->


</div> 
            