.main{
    display: flex;
    padding: 30px 50px;
    height: fit-content;
    width: 100%;
}
.main .app-formStudent{
    width: 40%;
}
.main .app-list-apprenants{
    width: 40%;
}
.main .app-stats{
    width: 20%;
}
.app-stats2{
        display: none;
}
@media (max-width: 1274px){
    .app-stats2{
        display: flex;
        flex-direction: row;
    }
    .main .app-stats{
        width: 20%;
        display: none;
    }
    .main{
        display: flex;
        flex-direction: row;
        padding: 30px 20px 0px 20px;
        height: fit-content;
    }
    .main .app-formStudent{
        width: 50%;
    }
    .main .app-list-apprenants{
        width: 50%;
    }
}
@media (max-width: 720px){
    .main{
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        height: fit-content;
    }
    .main .app-formStudent{
        width: 100%;
    }
    .main .app-list-apprenants{
        width: 100%;
    }
}