<div class="card flex justify-content-center container" style="height: 100%" class="marges">
  <p-card header="Formulaire d'inscription" subheader="Entrez vos informations"  [style]="{ width: '100%', height:'400px' }">
<form #formulaire="ngForm" (ngSubmit)="onSubmit(formulaire)" >
  <div class="card flex ">
    <div class="flex flex-column gap-2"  style="width: 100%;">
        <input 
            pInputText
            id="username" 
            name="nom"
            ngModel
            aria-describedby="username-help" 
            placeholder="Nom"
            class="input"
            #nom="ngModel"
             style="width: 100%;"
            />
    </div>
  </div>
  <div class="card flex">
    <div class="flex flex-column gap-2" style="width: 100%;">
        <input 
            pInputText
            id="username" 
            name="prenom"
            placeholder="Prénom"
            ngModel 
            class="input"
            #prenom="ngModel" />
    </div>
  </div>
  <div class="card flex"  >
    <div class="flex flex-column gap-2" style="width: 100%;">

            <select name=""
            pInputText id=""
            name="formation"
            aria-describedby="username-help" 
            ngModel #formation="ngModel"
            class="input"
            >
              <option value="" disabled>Formation</option>
              <option value="Développeur web">Développeur web</option>
              <option value="Référent digital">Référent digital</option>
            </select>
    </div>
  </div>
  <div class="card flex">
    <button pButton class="input">Valider</button>
</div>
</form>
</p-card>
</div>
